@charset "UTF-8";
/**
 * reset style
 */
/* --------------------------------------------------
    0. default margin and padding
-------------------------------------------------- */
body, div, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6,
object, iframe, pre, code, p, blockquote,
form, fieldset, legend,
table, th, td, caption, tbody, tfoot, thead,
article, aside, figure, footer, header,
hgroup, menu, nav, section, audio, video, canvas, main {
  margin: 0;
  padding: 0; }

article, aside, figure, figcaption, footer,
h1, h2, h3, h4, h5, h6, header, hgroup, menu, nav, section, main {
  display: block; }

/* --------------------------------------------------
    1. HTML, Body, Anchor
-------------------------------------------------- */
html {
  overflow-y: scroll; }

/* for mozilla: always display scrollbar */
html, body {
  width: 100%;
  min-height: 100%; }

body {
  position: relative;
  color: #000;
  background: #fff;
  font-family: '\30D2\30E9\30AE\30CE\89D2\30B4   Pro W3', 'Hiragino Kaku Gothic Pro', '\30E1\30A4\30EA\30AA', Meiryo, '\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF', sans-serif;
  font-size: 16px;
  line-height: 1.5; }

a:link {
  text-decoration: underline; }

a:visited {
  text-decoration: underline; }

a:hover {
  text-decoration: none; }

a:active {
  text-decoration: none; }

/* --------------------------------------------------
    2. Heading, Paragraph
-------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

/* p {} */
p {
  line-height: 1.5; }

/* --------------------------------------------------
    3. List
-------------------------------------------------- */
li {
  list-style: none; }

/* --------------------------------------------------
    4. Table
-------------------------------------------------- */
table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 100%;
  font-family: inherit; }

caption, th, td {
  text-align: left;
  vertical-align: top;
  font-weight: normal; }

/* --------------------------------------------------
    5. Form
-------------------------------------------------- */
fieldset {
  border: none; }

input, textarea, select, label {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: middle;
  resize: none;
  -webkit-appearance: none; }

label {
  cursor: pointer; }

textarea {
  overflow: auto; }

legend {
  display: none; }

/* --------------------------------------------------
    6. pseudo element
-------------------------------------------------- */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/* --------------------------------------------------
    6. Other
-------------------------------------------------- */
img {
  border: none;
  vertical-align: middle; }

object {
  vertical-align: middle;
  outline: none; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

small {
  font-size: 100%; }

abbr, acronym {
  border: none;
  font-variant: normal; }

q:before, q:after {
  content: ''; }

address, caption, cite, code, dfn, var {
  font-weight: normal;
  font-style: normal; }

code, pre {
  font-family: monospace; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

hr {
  display: none; }

button {
  border: none;
  background: none; }

a:link, a:visited, a:hover, a:focus, a:active {
  text-decoration: none; }

/*------------------------------------*    font
\*------------------------------------*/
/*------------------------------------*    image
\*------------------------------------*/
/*------------------------------------*    other
\*------------------------------------*/
.g-modal__mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.3; }

.g-modal {
  position: absolute;
  display: table;
  height: auto; }
  .g-modal.g-modal--centerd {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.g-button {
  cursor: pointer; }

/*------------------------------------*    base
\*------------------------------------*/
html, body {
  width: 100%;
  color: #848484;
  font-family: Georgia, "Times New Roman", Times, serif; }

a:link, a:visited, a:hover, a:focus, a:active {
  color: #848484; }

a:link {
  text-decoration: underline; }

/* ---------------------------
base
----------------------------*/
.content {
  width: 100%;
  height: 100%;
  padding: 50px 20px 0 20px;
  box-sizing: border-box;
  display: flex;
  flex-flow: row-reverse nowrap;
  position: relative;
  overflow-x: hidden; }

/* ---------------------------
header
----------------------------*/
.index-header {
  font-size: 13px;
  font-size: 0.8125rem;
  position: absolute;
  top: 18px;
  left: 10px; }

/* ---------------------------
nav
----------------------------*/
.index-nav {
  width: 100px;
  height: 100%;
  position: absolute;
  transform: translate(0, 0); }

/* ---------------------------
sections
----------------------------*/
.index-section {
  width: 100%;
  min-height: 100%;
  flex-flow: column nowrap; }

.index-section_base, .index-section_basic-info, .index-section_summary, .index-section_career-history, .index-section_skill, .index-section_edu {
  margin-bottom: 20px; }

.index-section_base_title, .index-section_summary_title, .index-section_career-history_title, .index-section_edu-history_title, .index-section_skill_title {
  font-size: 18px;
  font-size: 1.125rem;
  margin-bottom: 10px; }

/* ---------------------------
sections basic-info
----------------------------*/
.index-section_basic-info_text {
  width: 100%;
  height: 100%; }

.index-section_basic-info_text_name {
  font-size: 30px;
  font-size: 1.875rem; }

.index-section_basic-info_text_position {
  font-size: 14px;
  font-size: 0.875rem;
  font-style: italic;
  margin-bottom: 20px; }

.index-section_basic-info_text_more {
  font-size: 13px;
  font-size: 0.8125rem;
  padding-left: 10px; }

.index-section_basic-info_text_info,
.index-section_basic-info_text_link {
  display: flex;
  flex-flow: row wrap;
  line-height: 2.2rem; }

.index-section_basic-info_text_more_name {
  box-sizing: border-box;
  width: 30%; }

.index-section_basic-info_text_more_value {
  width: 70%;
  margin-bottom: 0;
  box-sizing: border-box;
  padding-left: 15px; }
  .index-section_basic-info_text_more_value a {
    display: inline-block; }

.index-section_basic-info_img {
  display: none; }

/* ---------------------------
sections summary
----------------------------*/
.index-section_summary_desc {
  padding-left: 10px; }

/* ---------------------------
sections career-history
----------------------------*/
.index-section_history_year {
  display: flex; }

.index-section_history_year_num-line {
  display: none; }

.index-section_history_position-outer {
  display: flex;
  flex-flow: column nowrap;
  flex: 1; }

.index-section_history_position {
  padding-left: 10px; }

.index-section_history_date {
  font-size: 13px;
  font-size: 0.8125rem;
  text-align: right; }

.index-section_history_position-name {
  font-size: 15px;
  font-size: 0.9375rem;
  font-style: italic; }

.index-section_history_affiliation {
  font-size: 13px;
  font-size: 0.8125rem;
  margin-bottom: 15px; }

.index-section_history_desc_item {
  list-style: disc;
  margin: 0 0 15px 20px; }

/* ---------------------------
sections edu-history
----------------------------*/
/* ---------------------------
sections skill
----------------------------*/
.index-section_skill_outer {
  display: flex;
  flex-flow: column nowrap;
  padding-left: 10px; }

.index-section_skill_inner {
  margin-bottom: 10px; }

.index-section_skill_subtitle {
  font-size: 15px;
  font-size: 0.9375rem;
  margin-bottom: 15px; }

.index-section_skill_list {
  font-size: 13px;
  font-size: 0.8125rem;
  display: flex;
  flex-flow: row wrap; }

.index-section_skill_list-item {
  width: 50%;
  box-sizing: border-box;
  padding-left: 20px;
  font-style: italic; }

.index-section_skill_list-star, .index-section_skill_list-star--large {
  width: 50%;
  box-sizing: border-box;
  padding-left: 20px;
  margin-bottom: 8px; }

.index-section_skill_list-star--large {
  line-height: 2rem;
  margin-bottom: 15px; }

/* --------------------------------------------------------
tablet
---------------------------------------------------------*/
@media (min-width: 759px) {
  /* ---------------------------
    base
    ----------------------------*/
  .content {
    width: 100%;
    padding: 50px 30px 30px 30px;
    display: flex;
    flex-flow: row nowrap;
    overflow: auto; }
  /* ---------------------------
    header
    ----------------------------*/
  .index-header {
    font-size: 18px;
    font-size: 1.125rem;
    top: 18px; }
  /* ---------------------------
    nav
    ----------------------------*/
  .index-nav {
    display: none; }
  /* ---------------------------
    sections
    ----------------------------*/
  .index-section {
    width: auto;
    flex: 1;
    box-sizing: border-box;
    padding-left: 20px; }
  .index-section_base, .index-section_basic-info, .index-section_summary, .index-section_career-history, .index-section_skill, .index-section_edu {
    margin-bottom: 30px; }
  .index-section_base_title, .index-section_summary_title, .index-section_career-history_title, .index-section_edu-history_title, .index-section_skill_title {
    font-size: 27px;
    font-size: 1.6875rem;
    margin-bottom: 15px; }
  /* ---------------------------
    sections summary
    ----------------------------*/
  .index-section_summary_desc {
    padding-left: 20px; }
  /* ---------------------------
    sections basic-info
    ----------------------------*/
  .index-section_basic-info {
    display: flex; }
  .index-section_basic-info_text {
    width: 70%; }
  .index-section_basic-info_text_name {
    font-size: 41px;
    font-size: 2.5625rem; }
  .index-section_basic-info_text_position {
    font-size: 14px;
    font-size: 0.875rem;
    margin-bottom: 30px; }
  .index-section_basic-info_text_more {
    font-size: 16px;
    font-size: 1rem; }
  .index-section_basic-info_text_more_name {
    padding-left: 20px; }
  .index-section_basic-info_text_more_value {
    margin-bottom: 15px; }
  .index-section_basic-info_img {
    display: block;
    width: 30%;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
    padding-top: 25px; }
  /* ---------------------------
    sections career-history
    ----------------------------*/
  .index-section_history_year {
    margin-bottom: 20px; }
  .index-section_history_year_num-line {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100px; }
  .index-section_history_year_num {
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: normal;
    text-align: center; }
  .index-section_history_year_line {
    width: 1px;
    height: 100%;
    display: inline-block;
    background-color: #ccc;
    flex: 1; }
  .index-section_history_position-outer {
    box-sizing: border-box;
    padding-top: 20px; }
  .index-section_history_position {
    padding-left: 0;
    margin-bottom: 0; }
  .index-section_history_date {
    font-size: 13px;
    font-size: 0.8125rem;
    text-align: right; }
  .index-section_history_position-name {
    font-size: 15px;
    font-size: 0.9375rem;
    font-style: italic; }
  .index-section_history_affiliation {
    font-size: 13px;
    font-size: 0.8125rem;
    margin-bottom: 15px; }
  /* ---------------------------
    sections skill
    ----------------------------*/
  .index-section_skill_outer {
    flex-flow: row wrap;
    padding-left: 20px; }
  .index-section_skill_inner {
    flex: 1;
    margin: 0 0 15px 20px; }
    .index-section_skill_inner:nth-child(1) {
      margin: 0 0 15px 0; }
  .index-section_skill_subtitle {
    font-size: 18px;
    font-size: 1.125rem; }
  .index-section_skill_list {
    font-size: 15px;
    font-size: 0.9375rem; } }

/* --------------------------------------------------------
desktop
---------------------------------------------------------*/
@media (min-width: 980px) {
  /* ---------------------------
    base
    ----------------------------*/
  .content {
    width: 980px;
    margin: 0 auto;
    padding: 50px 30px 30px 30px;
    display: flex;
    flex-flow: row nowrap;
    overflow: auto; } }
